<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Aasta tegija</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="bg">
      <% for (var i = 0; i < files.length; i++) { %>
        <!-- WIP -->
        <div ondblclick="openWindow('<%= files[i].content %>', '<%= files[i].page %>')" class="file" id="<%= files[i].name %>">
          <div class="fileheader"></div>
          <img src="./imgs/<%= files[i].type %>_file.svg" alt="" />
          <p><%= files[i].name %></p>
        </div>
          <div class="terminal">
            <span>$</span> <input type="text" class="input" placeholder="Enter command...">
          </div>
        <% } %>
    </div>
    <script src="/js/script.js"></script>

  </body>
</html>
